/* reset style defaul */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;0,700;0,800;1,600;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    /* color: rgb(58, 91, 197); */
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    
}
.logo{
    font-size: 42px;
    font-weight: 700;
}
ul{
    display: flex;   
}
ul li{
    margin: 0 10px;
    font-weight: 600px;
    font-size: 24px;
}
ul li a{
    padding: 8px 10px;
    border-radius: 20px;
}
ul li a:hover{
    background-color: rgb(58, 91, 197) ;
    color: white;
}
.home-teks{
    display: flex;
    align-items: center;
    margin-top: 100px;
    justify-content: space-between;
    padding: 10px 50px;
}

.home-teks h1{
    font-size: 60px;
    margin-bottom: 50px;
}
.home-teks span{
    color:rgb(30, 52, 124) ;
}
.home-teks a{
    padding: 20px 30px;
    background-color: rgb(58, 91, 197);
    color: white;
    border-radius: 50px;
    font-size: 24px;
}
